.main-container {
  display: grid;
  gap: 3px;
  height: 25vmax;
  width: 15vmax;
  background-color: pink;
  text-align: center;
}
.upper-card {
  width: 15vmax;
  height: 12vmax;
  cursor: pointer;
}
.upper-card > img {
  height: 8vmax;
  width: 100%;
}
.lower-card {
  width: 100%;
  height: 8vmax;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 375px) {
  .main-container {
    display: grid;
    height: 220px;
    width: 120px;
    background-color: pink;
    text-align: center;
  }
  .upper-card {
    width: 120px;
    height: 12vmax;
    cursor: pointer;
  }
}
