.container {
  margin: 2%;
  width: 96%;
  height: 100%;
  /* background-color: green; */
  display: grid;
  /*  will create 4 rows */
  grid-template-rows: auto auto auto auto;
  /*  will create 3 col */
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
}
.one {
  /* background-color: red; */
  text-align: center;
  padding: 10px;
}

.one img {
  width: 90%;
}
/* #a {
    background-color: blue !important;
} */

.main {
  margin: 2%;
  width: 96%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
}

.test {
  border: 1px solid yellow;
  box-sizing: border-box;
  /* background-color: red; */
  padding: 3%;
}

/* responsive grid for mobile */

@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    margin: 2%;
    width: 96%;
    height: 100%;
    /* background-color: green; */
    display: grid;

    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-gap: 10px;
  }
  .one {
    /* background-color: red; */
    text-align: center;
    padding: 10px;
  }
  .one img {
    width: 90%;
  }
  .main{
    margin: 2%;
    width: 96%;
    height: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-gap: 30px;
  }
}
