@mixin ipad {
  @media (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 992px) and (max-width: 1025px) {
    @content;
  }
}

.hotelListMainWrapper {
  margin-top: 3vmax;
  @include ipad {
    margin-top: 10vmax;
  }
}
.mainGreenbgDiv {
  width: 96%;
  background: linear-gradient(90deg, #2ebe8b 0%, #11a576 49.48%, #49ce9b 100%);
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: white;
  padding-top: 1vmax;
  height: 3vmax;
  margin-left: 2%;
  font-weight: 600;
}
.gridMainDiv {
  width: 96%;
  display: flex;
  justify-content: space-around;
}
.gridDiv1 {
  display: flex;
  flex-direction: column;
  gap: 2vmax;
  margin-top: 2vmax;
  @include ipad {
    gap: 5vmax;
  }
}
.detailCard1 {
  display: flex;
  flex-direction: column;
  gap: 1vmax;
  height: 34vmax;
  border: 2px solid #e9e9e9;
  width: 25vmax;
  @include ipad {
    font-size: 12px;
  }
  @include desktop {
    font-size: 12px;
  }
}
.roomTitle {
  font-size: 1.2rem;
  font-weight: 600;
  @include ipad {
    font-size: 12px;
  }
}
.accomodations {
  display: flex;
  gap: 1vmax;
  img {
    height: 1.5vmax;
    width: 1.5vmax;
  }
}
.roomSize {
  display: flex;
  gap: 1vmax;
  img {
    height: 1.5vmax;
    width: 1.5vmax;
  }
}
.kingSizedBed {
  display: flex;
  gap: 1vmax;
  img {
    height: 1.5vmax;
    width: 1.5vmax;
  }
}
.cityView {
  display: flex;
  gap: 1vmax;
  img {
    height: 1.5vmax;
    width: 1.5vmax;
  }
}
.viewMore {
  p {
    text-decoration: underline;
    color: #0085ff;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    @include ipad {
      font-size: 14px;
    }
    @include desktop {
      font-size: 14px;
    }
  }
}

.gridDiv2 {
  display: flex;
  flex-direction: column;
  gap: 6vmax;
  margin-top: 2vmax;
}
.grid2Child {
  height: 30vmax;
  width: 15vmax;
  @include ipad {
    font-size: 12px;
  }
  .child1 {
    display: flex;
    flex-direction: column;
    border: 1px solid #e9e9e9;
    height: 20vmax;
    @include desktop {
      font-size: 14px;
    }
    .textdark {
      font-weight: 700;
    }
    .textRed {
      color: #c90e0e;
    }
    .blueText {
      color: #0085ff;
    }
  }
}

.gridDiv3 {
  display: flex;
  flex-direction: column;
  gap: 5vmax;
  margin-top: 2vmax;
  .inclusionDiv {
    display: flex;
    flex-direction: column;
    gap: 1vmax;
    width: 17vmax;
    .inclusionChild1 {
      display: flex;
      gap: 2vmax;
      width: 16vmax;
      @include ipad {
        font-size: 12px;
      }
      @include desktop {
        font-size: 12px;
      }
      img {
        width: 2vmax;
        height: 2vmax;
      }
    }
  }
}

.gridDiv4 {
  display: flex;
  flex-direction: column;
  gap: 5vmax;
  margin-top: 2vmax;
  @include ipad {
    font-size: 12px;
  }
  .priceDiv {
    display: flex;
    flex-direction: column;
    @include desktop {
      font-size: 12px;
    }
    .darkPrice {
      font-weight: 600;
    }
    .redPrice {
      color: #bd0000;
      font-size: 1.3rem;
      font-weight: 600;
    }
    .selectButton {
      width: 10vmax;
      height: 2vmax;
      background-color: transparent;
      border: 1px solid #3362cc;
      cursor: pointer;
      color: #3362cc;
      font-weight: 600;
      margin-top: 2vmax;
    }
  }
}

.testing {
  color: red;
}
