.cardWrapper {
  margin: 4vmax 5vmax;
  width: 30vmax;
  height: 30vmax;
  background-color: yellow;
}
.modalbtn {
  margin: 4vmax 5vmax;
  height: 3vmax;
  width: 12vmax;
  color: blue;
  border-radius: 12px;
  cursor: pointer;
}
