.heading {
  font-weight: bold;
  margin-top: 40px;
}
.hotelbookform {
  display: flex;
  justify-content: center;
  background: rgba(92, 203, 160, 0.15);
  margin: 0% 2% 0% 2%;
  padding: 10px;
  box-shadow: 6px 8px 23px rgba(122, 122, 122, 0.1);
  border-radius: 12px;
}

.formwrapper {
  margin: 0% 3% 0% 3%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  label {
    font-weight: 600;
  }
}

.selectgen {
  background-color: transparent;
  // width: 260px;
  height: 30px;
  outline: none;
  border-radius: 5px;
}

.genderwrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.namewrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  input {
    background: transparent;
    // outline: none;
    border: 0.5px solid black;
    border-radius: 5px;
    padding-left: 10px;
    height: 40px;
    font-size: 16px;
    &::placeholder {
      padding-left: 10px;
    }
  }
}

.paynowbtn {
  background: linear-gradient(90deg, #2fbf8c 0%, #0da274 54.69%, #4ed19e 100%);
  border-radius: 35px;
  border: none;
  outline: none;
  height: 35px;
  color: white;
  font-weight: 600;
  // width: 130px;
  &:focus {
    outline: 1px solid black;
  }
}
