.heading {
  color: red;
}

.packagewrapper {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.iconswrapper {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
  .hotelicon {
    display: flex;
    flex-direction: column;
    img {
      height: 30px;
      width: 50px;
    }
    span {
      font-weight: 600;
      font-size: 12px;
      color: #145843;
    }
  }
}
.cardwrapper {
  background: #ffffff;
  box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  box-sizing: border-box;
}

.cardtop {
  img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
}

.cardbottom {
  padding: 10px;
}

.packagename {
  color: #145843;
  font-weight: 600;
  margin-left: 10px;
}

.location{
 display: flex;
}